#counter,#hii,#btn{
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
#counter{
    font-size: 60px;
    border: 2px solid black;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
}
#hii{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#reset,#increament,#decreament{
    margin: 10px;
}